<% button_class = "text-center text-3xl text-white bg-green-500 hover:bg-black mx-4 py-2 px-4 rounded shadow-lg" %>
<div class="big-home">
  <div class="flex justify-center my-10">
    <div data-controller="hello" class="<%= button_class %>"></div>
  </div>



  <div class="border-rouge"></div>

  <div>
    <h1 class="text-black">Welcome to "<%= Rails.app_class.module_parent_name %>"</h1>
  </div>

  <div class="clock" data-controller="clock"
   data-content-loader-refresh-interval-value="1000">
    <div class="clock-face">
      <div class="clock-round-middle"></div>
      <div class="hand hour" data-clock-target="hour"></div>
      <div class="hand min" data-clock-target="min"></div>
      <div class="hand second" data-clock-target="second"></div>
    </div>
  </div>

  <div class="ror-version">
    <h1>Your New Rails App is ready</h1>
    <p>Rails <%= Rails.version %> - Ruby <%= RUBY_VERSION %></p>
  </div>

  <div class="border-rouge"></div>
  <div class="flex justify-center my-10">
    <% if current_user %>
      <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}, class: button_class %>
      <%= link_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: button_class %>
    <% else %>
      <%= link_to "Connect", new_user_session_path, class: button_class %>
    <% end -%>
  </div>
</div>
